# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Iago\Desktop\Programas Uni\letta-master-238d2c4473cce545d46fdb94b31efa9d5a6c81fd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
